* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --green: #0b7a3b;
  --dark-green: #07572b;
  --red: #d71920;
  --white: #ffffff;
  --light: #f5f8f6;
  --dark: #17211b;
  --gray: #68736c;
  --border: #e1e7e3;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--light);
  color: var(--dark);
  line-height: 1.5;
}

/* HEADER */
.topbar {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 14px 5%;
  background: var(--white);
  border-bottom: 1px solid var(--border);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  min-width: 190px;
}

.logo-s {
  width: 46px;
  height: 46px;
  display: grid;
  place-items: center;
  background: var(--green);
  color: white;
  border-radius: 12px;
  font-size: 30px;
  font-weight: 900;
}

.logo strong {
  display: block;
  color: var(--green);
  font-size: 23px;
}

.logo small {
  color: var(--gray);
  font-size: 11px;
}

/* SEARCH */
.search-box {
  flex: 1;
  display: flex;
  max-width: 600px;
}

.search-box input {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid var(--border);
  border-right: none;
  border-radius: 10px 0 0 10px;
  outline: none;
  font-size: 15px;
}

.search-box input:focus {
  border-color: var(--green);
}

.search-box button {
  border: none;
  background: var(--green);
  color: white;
  padding: 0 18px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

/* BUTTONS */
.branch-btn,
.cart-btn {
  border: none;
  padding: 11px 15px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.branch-btn {
  background: #edf7f1;
  color: var(--green);
}

.cart-btn {
  background: var(--green);
  color: white;
}

#cartCount {
  display: inline-grid;
  place-items: center;
  min-width: 21px;
  height: 21px;
  margin-left: 4px;
  padding: 2px 
